:root {
    --black: #010101;
    --darken: #202025;
    --darken-gray: #555555;
    --gray: #686A6C;
    --ligth-gray: #A6AEAD;
    --darken-white: #E1E2E2;
    --white: #F1F4F4;
    --lite-white: #F7FBFA;
    --gradient: conic-gradient(from 180deg at 50% 50%, #FFE249 22.225085645914078deg, #F35950 78.13612282276154deg, #7C5BFF 158.9999771118164deg, #1CE4FF 202.3224377632141deg, #5FFF5C 341.3397216796875deg);
    --accent1: #BCE6EC;
    --accent4: #DBFF73;
    --shade1: #6DD3C2;
    --purple: #B9A9FB;
    --blue: #1966F7;
    --pink: #FFA6D6;
}
.wallet {
    background-color: var(--accent1);
    &__logo {
        width: 168px;
        height: max-content;
        object-fit: contain;
    }
    &__arrow {
        width: 148px;
        height: max-content;
        object-fit: contain;
    }
    &__text-content {
        margin-top: 40px;
    }
    &__title {
        margin-bottom: 24px;
    }
    &__info {
        margin-top: 24px;
    }
    &__back {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid var(--darken);
        transition: .5s;
        &::after, &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 24px;
            height: 2px;
            background-color: var(--darken);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:hover {
            opacity: .5;
        }
    }
}
.choose {
    background-color: var(--black);
    &__title {
        margin-bottom: 32px;
    }
    &__tags {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    &__btn {
        cursor: pointer;
        transition: .5s;
        margin-bottom: 40px;
        &:hover {
            opacity: .6;
        }
        &-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-right: 16px;
        }
    }
    &__tag {
        color: var(--gray);
        padding: 16px 32px;
        &.active {
            color: var(--lite-white);
            border-bottom: 1px solid #fff;
        }
    }
    &__api {
        margin: 32px 0 40px;
    }
    &__useapi {
        position: relative;
        cursor: pointer;
        padding: 20px 32px;
        border-radius: 12px;
        border: 2px solid var(--neutral-07, #202025);
        & + & {
            margin-top: 20px;
        }
        &-arrow {
            width: 24px;
            height: 24px;
            object-fit: contain;
            transition: .2s;
            opacity: 0;
            z-index: 2;
        }
        &.active {
            transition: .5s;
        }
        &.active &-arrow {
            opacity: 1;
        }
        &.active::before {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            right: 0;
            z-index: 0;
            border-radius: 12px;
            padding: 2px;
            transition: 1s;
            background-image: conic-gradient(from 180deg at 50% 50%, #FFE249 22.225085645914078deg, #F35950 78.13612282276154deg, #7C5BFF 158.9999771118164deg, #1CE4FF 202.3224377632141deg, #5FFF5C 341.3397216796875deg);            background-position: 0% 50%;
        }
        &.active::after {
            content: "";
            position: absolute;
            width: 99%;
            height: 96%;
            right: 0.5%;
            z-index: 1;
            border: 5px solid var(--black);
            border-radius: 12px;
            background-color: var(--darken);
        }
        &-img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            border-radius: 50%;
            overflow: hidden;
            z-index: 2;
        }
        &-name {
            z-index: 2;
            margin-left: 20px;
        }
    }
}