body {
  margin: 0;
  font-family: "Inter", sans-serif !important ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Inter", sans-serif !important ;
}
:root {
  --black: #010101;
  --darken: #202025;
  --darken-gray: #555555;
  --gray: #686A6C;
  --ligth-gray: #A6AEAD;
  --darken-white: #E1E2E2;
  --white: #F1F4F4;
  --lite-white: #F7FBFA;

  --accent1: #BCE6EC;
  --accent4: #DBFF73;
  --shade1: #6DD3C2;
  --purple: #B9A9FB;
  --blue: #1966F7;
  --pink: #FFA6D6;
}
/* GLOBAL FONTS */
.font-big {
  font-size: 104px;
  font-weight: 800;
  line-height: 100%;
  color: var(--darken);
}
.font-h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -1.6px;
  color: var(--darken);
}
.font-h2 {
  font-size: 64px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -1.28px;
  color: var(--darken);
}
.font-h3 {
  font-size: 48px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.96px;
  color: var(--darken);
}
.font-h4 {
  font-size: 32px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: -0.64px;
  color: var(--darken);
}
.font-body1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
  letter-spacing: -0.48px;
  color: var(--gray);
}
.font-body2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 160%; 
  letter-spacing: -0.4px;
  color: var(--gray);
}
.font-body2-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.4px;
  color: var(--gray);
}
.font-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -0.18px;
  color: var(--darken);
}
.font-base {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.16px;
  color: var(--gray);
}
.font-caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 142.857%;
  letter-spacing: -0.28px;
  color: var(--ligth-gray);
}
.font-button {
  font-size: 12px;
  font-weight: 800;
  line-height: 200%;
  letter-spacing: 2.04px;
  text-transform: uppercase;
  color: var(--darken);
}
.preloader {
  display: none;
}
.preloader.active {
  left: 0;
  top: 0;
  position: fixed;
  background-color: var(--black);
  z-index: 100000;
}
.preloader-img-wrapper.active {
  animation: 1s linear infinite alternate preloader;
  transition: .5s;
}
.preloader-img {
  display: none;
}
.preloader-img.active {
  display: block !important;
}

@keyframes preloader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  transition: .5s;
}
a:hover {
  color: var(--darken);
}
.wrapper {
  max-width: 327px !important;
  margin: 0 auto !important;
}
.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--darken-white);
}
.header__logo {
  width: 168px;
  height: max-content;
}
.header__burger {
  width: 24px;
  height: 12px;
  position: relative !important;
  cursor: pointer;
  transition: .5s;
  z-index: 12;
}
.header__burger::before {
  top: 0;
  width: 100%;
}
.header__burger::after {
  bottom: 0;
  width: 70%;
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute !important;
  height: 3px;
  border-radius: 4px;
  background-color: var(--darken);
}
.header__burger:hover{
  opacity: .7;
}
.header__nav {
  right: 0;
  top: 0;
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: var(--white);
}
.nav__link {
  z-index: 10;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2.04px;
  text-transform: uppercase;
  color: var(--darken);
  transition: .5s;
}
.nav__link:hover{
  color: var(--darken-gray);
}
.nav__link-btn {
  padding: 12px 32px;
  border: 1px solid var(--darken);
  border-radius: 4px;
}
.nav__item + .nav__item {
  margin-top: 40px;
}

.placeholder-img {
  width: 24px;
  height: 24px;
}
.default-padding {
  padding: 48px 24px;
}
.homehero__arrow {
  margin-top: 20px !important;
}
.homehero__arrow-img {
  width: 118px;
  height: 100%;
}
.homehero__info {
  margin-top: 32px;
}
.homehero__start {
  margin-top: 24px !important;
}
.homehero__start span {
  margin-left: 20px;
}
.homehero__bank-png {
  width: 100%;
  height: max-content;
}
.homehero__info-content {
  max-width: 327px;
  box-shadow: 0px 16px 40px -8px rgba(0, 0, 0, 0.12);
  padding: 16px 24px;
  background-color: var(--lite-white);
  border-radius: 12px;
}
.homehero__content {
  background-color: var(--accent4);
}
.homehero__info-info {
  margin-top: 4px;
  color: var(--darken);
}
.homehere__info-block + .homehere__info-block {
  margin-left: 40px;
}
.homehero__btt {
  margin-top: 48px;
}
.homehero__btt-title {
  margin-bottom: 16px;
}
.homehero__btt-btn {
  margin-top: 16px;
  text-align: center;
  border: 1px solid var(--darken);
  border-radius: 4px;
  padding: 20px 32px;
}
.homehero__btt-btn.fill {
  background-color: var(--darken) !important;
  color: var(--lite-white) !important;
}
.homehero__btt-btn:hover {
  background-color: var(--white) !important;
  color: var(--darken) !important;
  border: 1px solid var(--white) !important;
}


.hotnft__arrow-link {
  max-width: max-content;
  margin-top: 24px;
  padding: 28px;
  border-radius: 50%;
  background-color: var(--lite-white);
  box-shadow: 0px 20px 16px -6px rgba(0, 0, 0, 0.15);
}
.hotnft__info {
  margin-top: 40px;
}

.hotnft__image-block {
  width: max-content;
  height: max-content;
  margin: 0 auto;
}
.hotnft__name, .hotnft__total-num {
  color: var(--black);
}
.hotnft__name {
  margin: 16px auto 4px;
}
.hotnft__block {
  padding: 24px 0;
  max-width: 163px;
  min-height: 208px;
  width: 100%;
  background-color: #fff;
}
.hotnft__block {
  border-bottom: 1px solid var(--darken-white);
  border-left: 1px solid var(--darken-white);
  border-right: 1px solid var(--darken-white);
}
.hotnft__id {
  text-align: right;
  margin: 0 25px 0 0;
  color: var(--ligth-gray) !important;
}

.hotnft__btn {
  max-width: max-content;
  margin: 40px auto 32px;
}
.hotnft__btn a {
  border-radius: 4px;
  background-color: var(--darken);
  padding: 18px 36px;
  transition: .5s;
  color: var(--lite-white) !important;
}
.hotnft__btn:hover, .hotnft__btn a:hover{
  color: var(--darken) !important;
  background-color: var(--white);
}
.hotnft__image, .featured__tagname-img-block {
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--purple);
}


.featured {
  background-color: var(--black);
}
.featured__tagname-block {
  padding: 12px;
  max-width: max-content;
  border-radius: 12px;
  background-color: var(--opacity-0775, rgba(32, 32, 37, 0.75)) !important;
}
.featured__tagname-name {
  margin-left: 16px;
  color: var(--lite-white);
}
.featured__tagname-img {
  max-width: 40px;
  max-height: 40px;
}
.featured__title {
  margin: 24px 0;
  color: var(--lite-white) !important;
}
.featured__sub-price {
  margin-bottom: 8px;
}
.featured__sub-price, .featured__price-usdt {
  color: var(--ligth-gray);
}
.featured__price-eth {
  color: var(--lite-white);
}
.featured__btn {
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: center;
  margin: 24px 0 32px;
}
.featured__btn-btn {
  min-width: 100%;
  border-radius: 4px;
  padding: 18px 0;
  text-align: center;
  transition: .5s all !important;
  color: var(--black) !important;
  background-color: var(--lite-white);
}
.featured__btn-btn:hover {
  color: var(--lite-white) !important;
  background-color: var(--darken) !important;
}
.featured__btn:hover {
  background-color: var(--darken) !important;
}
.featured__btn:hover .featured__btn-btn{
  color: var(--lite-white) !important;
  background-color: var(--darken) !important;
}

.stack__button {
  border-radius: 50%;
  border: 1px solid var(--darken);
  padding: 18px;
  background-color: var(--darken);
  margin-right: 12px;
  cursor: pointer;
}
.stack__button svg path {
  fill: var(--lite-white) !important;
}
.stack__button.deactive {
  border-radius: 50%;
  border: 1px solid var(--ligth-gray);
  padding: 18px;
  background-color: transparent !important;
}
.stack__button.deactive svg path {
  fill: var(--darken) !important;
}
.stack__slide-blocks {
  margin: 40px 0;
}
.stack__slide-text {
  color: var(--darken) !important;
}
.stack__slide-text.greu {
  color: var(--gray) !important;
}
.stack__slide-info {
  margin: 24px 0 4px;
}
.stack__autor-avatar, .stack__autor-avatar-block {
  max-width: 32px;
  max-height: 32px;
  width: 100%;
  height: 100%;
}
.stack__autor-avatar-block {
  margin-right: 12px;
  max-width: max-content;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--purple);
}
.stack__progressbar {
  position: relative;
  width: 100%;
  height: 8px;
  padding: 2px 4px;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--darken-white);
}
.stack__progressbar span {
  position: absolute;
  border-radius: 4px;
  width: 95px;
  height: 4px;
  background-color: var(--darken);
  transition: .5s;
}
.stack__sup-more {
  background-color: var(--accent1);
  color: var(--darken) !important;
}
.stack__sup-image {
  object-fit: cover;
  width: 103.67px;
  height: 103.67px;
  border-radius: 16px;
  overflow: hidden;
}
.stack__sup-image + .stack__sup-image {
  margin-left: 4px;
} 
.stack__slide-image {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 8px;
}
.featured__img {
  width: 100%;
  height: max-content;
}
.stack__sup-images, .stack__slide-block {
  min-width: 100%;
}
.stack__slide-block + .stack__slide-block {
  margin-left: 40px;
}
#root {
  max-width: 425px !important;
  margin: 0 auto !important;
}
::selection {
  background-color: #20202520;
}
.stack__slide-block {
  opacity: 0;
  transition: 1s;
}
.stack__slide-block.active {
  opacity: 1;
}

.auction__text-content {
  background-color: var(--purple);
}
.auction__text-btn {
  padding: 18px 36px;
  color: var(--darken) !important;
  background-color: var(--lite-white) !important;
  border-radius: 4px;
}
.auction__text-btn:hover {
  color: var(--lite-white) !important;
  background-color: var(--darken) !important;
}
.auction__btn-list {
  padding: 2px 8px;
  margin-left: 12px;
  border-radius: 12px;
  background-color: var(--darken-white);
}
.auction__btn-wrapper {
  margin-top: 40px;  
}
.auction__post {
  min-width: 100%;
}
.auction__post-content {
  padding: 24px;
  min-height: 100%;
}
.auction__post-info {
  margin-top: 20px;
}
.auction__info-block + .auction__info-block {
  margin-left: 24px;
}
.color-white {
  color: var(--lite-white) !important;
}
.auction__price {
  margin: 12px 0 8px;
}
.auction__time-content {
  max-width: 195px;
}
.auction__post-img {
  width: 100%;
  object-fit: cover;
}


.spotlight {
  background-color: var(--black);
}
.spotlight__text-info {
  margin-top: 20px;
  color: var(--gray) !important;
}
.spotlight__text-content {
  margin-bottom: 48px;
}
.spotlight__tag-block {
  margin-top: 32px;
}
.spotlight__tag-content + .spotlight__tag-content {
  margin-left: 12px;
}
.spotlight__tag-content {
  padding: 8px 24px;
  border-radius: 40px;
  background-color: var(--black);
}
.spotlight__tag-content.active {
  background-color: var(--lite-white) !important;
  color: var(--black);
}
.spotlight__price-eth {
  margin-left: 4px;
}
.spotlight__content-price {
  margin-top: 8px;
}
.spotlight__content-block {
  margin-top: 24px;
}
.spotlight__avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 0 0 0 -12px;
}
.spotlight__avatars {
  max-width: calc(100% - 30%);
}
.spotlight__img {
  border-radius: 20px;
  width: 100%;
  height: max-content;
  object-fit: cover;
}
.spotlight__content + .spotlight__content {
  margin-top: 32px;
}
.spotlight__btn-wrapper {
  margin-top: 48px;
}